@media only screen and (min-width: 600px) {

/* 
  Color hero:
  black : 040506
  Super dark blue: 101821
  Slate blue: 1e2633
  red : e1014A
  Purple: 5f5cff
  Green: 2ab977
  White: e34ee6 */

 /* ====================  IN PROGRESS ============================= */

 .navbar-light .navbar-nav .nav-link {
  color: #dee2e6;
}

  #user-dashboard{
    padding: 1.5rem;
    border-radius: 5px;
    height: 10rem;
    width: 95%;
    color: #dae0e5;
    background-color: #1e2633;
    margin: auto;
    margin-top:3rem;
    margin-bottom:3rem;
  }

  a {
    color: #dae0e5;
    text-decoration: none;
    background-color: transparent;
  }

  #bottomnav{
    color:#e3d4e6;
    background-color: #040506;
  }
  /* ====================  GLOBAL ============================= */
  body,
  html {
    overflow-x: hidden;
    overflow-y: hidden;
    color: #e3d4e6;
    height: 100%;
    background: linear-gradient(-45deg, #101821, #040506, #101821, #040506);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /* #8a8a8a */

  /* ====================  GRID: ROW & COL ============================= */

  /* .row {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  } */
}
