<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acclivity</title>

  <!--======================= React dependencies =========================================-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
  <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>


  <!--============================  Styling  ==============================================-->
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"/>
  <link rel="stylesheet" href="/static/css/browser.css"/>
  <link rel="stylesheet" href="/static/css/mobile.css"/>
  <script src="/static/scripts.js"></script>

</head>
<body>
    <div id="app"></div>
    <!-- <script src="/static/js/landingpage.jsx" type="text/jsx"></script> -->

    <!-- <script src="/static/js/topnav.jsx" type="text/jsx"></script> -->
    <script src="static/dashboard.jsx" type="text/jsx"></script>
    <!-- <script src="/static/js/footer.jsx" type="text/jsx"></script> -->

    <!-- <script src="/static/js/logout.jsx" type="text/jsx"></script> -->
    <!-- <script src="/static/js/login.jsx" type="text/jsx"></script> -->
    <!-- <script src="/static/js/signup.jsx" type="text/jsx"></script> -->
    <script src="/static/stock-widget.jsx" type="text/jsx"></script>
    <script src="/static/app.jsx" type="text/jsx"></script>
</body>
</html>


